# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# C extensions
*.pyd

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/

# Poetry
poetry.lock
.venv/
.venv*/

# Test / coverage
.cache/
.pytest_cache/
.mypy_cache/

# IDEs
.vscode/
.idea/

# Environment variables
.env
*.env

# Logs
*.log

# sample data
*.tsv.gz
*.tsv
.*.tsv
